.orange{
    background-color: #e27f37;
}

.filter-btn {
    border-color: #e27f37;
}

.restaurant-card {
    border-radius: 10px;
    border: none;
}

.one-card :hover {
    box-shadow: 0 4px 8px 0 grey;
}

.restaurant-img {
    height: 200px; 
    border-radius: 10px;
}

.star-rating {
    color: #E23745;
}

.veg-tag {
    color: green;
}

.non-veg-tag {
    color: red;
}

.restaurant-card {
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border: whitesmoke 20px;
  }
  
  .restaurant-card:hover {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px grey;
  }