.orange{
    background-color: #e27f37;
}

.filter-btn {
    border-color: #e27f37;
}

.restaurant-card {
    border-radius: 10px;
    border: none;
}

.one-card :hover {
    box-shadow: 0 4px 8px 0 grey;
}

.restaurant-img {
    height: 200px; 
    border-radius: 10px;
}

.star-rating {
    color: #FFD700;
}

.veg-tag {
    color: rgb(4, 46, 4);
}

.non-veg-tag {
    color: red;
}