<div class="container py-5">

  <!-- Chips for filtering -->
  <div class="d-flex justify-content-center mb-4">
    <button class="btn btn-outline-danger me-2 filter-btn"
            [class.active]="selectedFilter === 'pureVeg'" 
            (click)="selectFilter('pureVeg')">Pure Veg</button>

    <button class="btn btn-outline-danger me-2 filter-btn" 
            [class.active]="selectedFilter === 'nonVeg'" 
            (click)="selectFilter('nonVeg')">Non-Veg</button>

    <button class="btn btn-outline-danger filter-btn" 
            [class.active]="selectedFilter === 'rating'" 
            (click)="selectFilter('rating')">Ratings 4.0 +</button>
  </div>
  
  <div class="row">
    <ng-container *ngFor="let restaurant of filteredRestaurants">
      <div class="col-md-3">
        <div (click)="getRestaurantDetails(restaurant)" class="card mb-3 link-div restaurant-card">
          <img src="{{restaurant.restaurantImage}}" class="card-img-top restaurant-img" alt="{{restaurant.restaurantName}}">
          <div class="card-body" style="border: none;">
            <h5 class="card-title">{{restaurant.restaurantName}}
              <!-- <img src="../../../assets/images/icons8-non-veg-48.png" alt="Non-Veg" style="width: 30px; height: 30px;"> -->
            </h5>

            <div class="d-flex align-items-center">
              
              <ng-container *ngFor="let star of getStars(restaurant.restaurantAvgRating); let i = index">
                <i class="star-rating" [ngClass]="star" aria-hidden="true"></i>
              </ng-container>
              <span class="ms-2">{{restaurant.restaurantAvgRating}}</span>
            </div>
            <p>{{restaurant.restaurantAddress}}</p>
            <p *ngIf="restaurant.restaurantType === 'pure veg'"> Veg Assured Resto ! </p>
            <p *ngIf="restaurant.restaurantType === null"> Non-Veg Assured Resto ! </p>

          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

