.add-to-cart-btn {
    background-color: #E23745;
    border-color: #E23745;
    color: #fff;
}

.filter-btn {
    border-color: #e27f37;
}

.price-para {
    margin-right: 180px;
}

.veg-img {
    height: 30px;
    width: 30px;
}

.non-veg-img {
    height: 40px;
    width: 40px;
}

.veg-filter-btn {
    margin-right: 8px;
}

.non-veg-filter-btn {
    margin-left: 8px;
}

.increement-btn {
    background-color: #E23745; color:#fff; border-color: #E23745;
    border-color: #E23745;
}

.text {
    border-color: #E23745;
}

.menu-card {
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .menu-card:hover {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px grey;
  }

.h {
    color: #E23745;
}